h1 {
    font-size: 20px;
    text-align: center;
    color: rgb(112, 112, 112);
    font-weight: 300 !important;
}

.centerItems{
    text-align: center;
}

input{
    width: 50%;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 112);
    outline: none;
}

input::placeholder{
    color: rgb(170, 170, 170);
    font-style: italic;
    font-size: 15px;
}

input[type = "text"]{
    font-size: 15px;
}

#addButton{
    background-color: #30D158;
    border: none;
    padding: 5px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3%;
    width: 50%;
    transition: 0.3s;
}

#addButton:hover{
    background-color: rgb(44, 175, 77);
    transition: 0.3s;
}

#markButton{
    background-color: #FF9F0A;
    border: none;
    padding: 5px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-top: 2%;
    width: 50%;
    transition: 0.3s;
}

#markButton:hover{
    background-color: rgb(233, 144, 12);
    transition: 0.3s;
}

#removeButton{
    background-color: #FF453A;
    border: none;
    padding: 5px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-top: 2%;
    width: 50%;
    transition: 0.3s;
}

#removeButton:hover{
    background-color: rgb(226, 64, 55);
    transition: 0.3s;
}